$black: rgba(28, 28, 28, 1);
$white: rgba(255, 255, 255, 1);
$orange: rgba(226, 120, 102, 1);
$slightly-gray: rgba(245, 245, 245, 1);
$green: rgba(65, 211, 149, 1);
$input-grey: rgba(216, 216, 216, 1);
$radio-black: rgba(0, 0, 0, 1);
$square-brown: rgba(163, 113, 105, 1);
